* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 70, 255);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-center {
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.square {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}